/* Os efeitos estão ao fim da página */

@font-face {
    font-family: 'Aurebesh';
    src: url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.eot');
    src: url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.eot') format('embedded-opentype'),
    url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.woff2') format('woff2'),
    url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.woff') format('woff'),
    url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.ttf') format('truetype'),
    url('https://rodcordeiro.github.io/shares/Aurebesh/fonts/Aurebesh.svg#Aurebesh') format('svg');
}

body{
    background: #999;
    margin: 0;
}

#content {
    background: #f7f7f7;
    width: 80%;
    margin: 2% 10%;
    font-family: 'Open Sans Condensed', sans-serif;
}
hr{
    width: 80%;
}

header{
    width: 97.7%;
    font-size: 2rem;
    height: auto;
    float: right;
    text-align: right;
    padding: 13px;
    background: #555;
    color: #eee;  
    margin-bottom: 5%;  
    font-family: 'Roboto Slab', serif;
}

#menu img {
    width: 10%;
    height: auto;
    float: left;
}

#menu ul{
    list-style: none;
}

section{
    margin: 2%;
    padding: 5%;
    width: 90%;
}

#welcome{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#welcome h1{
    font-family: 'Roboto Slab', serif;

}


article{
    width: 40%;
    margin: 10% 3%;
    display: inline-block;
    height: 60px;
}
#fix{display: block;}
hr{display: none;}
article>p{
    margin-bottom: 50px;
}
article h2{
    top:0;
}

/* BOTÃO TRADUZIR */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-3 {
    background: #333;
    color: #ccc;
}

.btn-3:hover {
    background: #666;
}

.btn-3:active {
    background: #000;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}
.btn-3e {
    padding: 20px 120px 25px 60px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}

footer{
	background: #555;
    color: #eee;
    font-family: 'Aurebesh';
    text-align: center;
}



@media screen and (max-width: 768px){
   #content{
    width: auto;
    min-width: 300px;
}

header{
    width: 95%;
}
#menu{
    font-size: 1.5rem;
}
#menu img {
    width: 20%;
}

article{
    display: block;
    height: auto;
	width:100%;
	text-align: center;
 
}

/* BOTÃO TRADUZIR */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-3 {
    background: #333;
    color: #ccc;
}

.btn-3:hover {
    background: #666;
}

.btn-3:active {
    background: #000;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 40px;
}
.btn-3e {
    padding:13px 60px 13px 13px;
    overflow: hidden;
}

.btn-3e:before {
    left: auto;
    right: 10px;
    z-index: 2;
}

.btn-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

.btn-3e:hover:after {
    width: 40%;
}


hr{display: block;}

}
